* { box-sizing: border-box; }

* {
  margin: 0px;
}

body {
  background-color: whitesmoke;
  position: relative;
}

#diw-img {
  width: 300px;
}



header {

  display: flex;
  flex-direction: row;


  justify-content: space-between;

  align-items: center;

  background: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10vh;
  top: 0;
  padding: 0 2rem;
}


header nav ul {
  list-style: none;
  /* tira os bullets */
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

header nav li {

  display: inline-block;
}

header a {
  text-decoration: none;
  color: black;
}

section:nth-child(1) {

  height: 90vh;
  /*para emcaixar com o header*/
  background: whitesmoke;
  background-image: url("images/hero-image.jpg");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;



}

section:nth-child(1) div h2 {

  color: white;

  position: relative;
  top: 50px;
  left: 140px;

}

.hero-text a {

  position: relative;
  top: 43px;
  left: 150px;

  color: white;
  /* tira o azul e a linha em baixo*/
  text-decoration: none;

}

.hero-text a:hover {

  color: whitesmoke;
  /* tira o azul e a linha em baixo*/
  text-decoration: none;
  font-weight: bold;

}




section:nth-child(2) {
  height: 100vh;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* alinha vertical */
  align-items: center;
  /* alinha horizontal */
  text-align: center;
}

.container-project-lab ul {
  display: flex;
  flex-wrap: wrap;
  /*  permite quebrar a linha */
  justify-content: center;
  /* centra mesmo quando quebra */
  gap: 25px;
  /* espaço entre as bolhas */
  padding: 0;
  margin: 30px 0 0 0;
  /* para nao ficar em cima do texto */
  list-style: none;
}

.projectos-lab {
  background: grey;
  border-radius: 50%;
  /* faz a bolha ser redonda o width e height tb tem de ser iguais */

  width: 120px;
  /* bolhas menores em desktop */
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  /* velocidade do scale() */
}

.projectos-lab a {
  display: flex;
  /* faz o link ocupar a bolha toda e centraliza */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* faz com que toda a bola seja clicavel */
  height: 100%;
  color: white;
  /* tira o azul e a linha em baixo */
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
}

.projectos-lab:hover {
  background: darkgrey;
  transform: scale(1.2);
  /* faz ele "crescer" */
}


@media (max-width: 601px) {

#diw-img {
  width: 150px;
}


  section:nth-child(2) h3 {
    font-size: 1.4rem;
    
  }

  section:nth-child(2) p {
    font-size: 1rem;
    
  }

  .projectos-lab a {
    font-size: 1.3rem;
    
  }

  .container-project-lab ul {
    flex-direction: column;
    
    gap: 20px;
    
  }

  .projectos-lab {

    width: 150px;
    /* tamanho grande para mobile */
    height: 150px;
  }
}

section:nth-child(3) {
  width: 100vw;
  height: 80vh;
  /*para emcaixar com o fotter*/
  background: whitesmoke;

  display: grid;

  margin: 20px;

  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'div div  img'
  ;

}

section:nth-child(3) a {

  color: black;
  /* tira o azul e a linha em baixo*/
  text-decoration: none;
  font-weight: bold;
}

section:nth-child(3) a:hover {

  color: indigo;
  /*tenho de arranajr uma cor melhor i guess*/
}


footer {

  position: relative;
  display: flex;
  justify-content: center;

  align-items: center;
  text-align: center;

  height: 10vh;

  background: black;
  color: white;
}

footer a {

  text-decoration: none;
  color: white;
}



@media (max-width: 600px) {

  header {
    flex-direction: column;

    position: unset;  /* tirar o sticky*/
    
    height: auto;

    padding: 1rem;
    align-items: center;
  }

  header nav ul {

    flex-direction: column;

    gap: 0.5rem;

    width: 100%;

    align-items: center;


  }

  header nav a {

    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 3px 3px lightgrey;

  }

header nav a:hover{

  filter: brightness(90%)
}


}